<% include ../partials/header %>
<style>
canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
<div>
	<canvas id="canvas"></canvas>
</div>
<script type="text/javascript" src="/public/js/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("canvas").getContext('2d');
  dataSet = [
	{
	    yAxisID: 'A',
			label : "A",
	    data: [],
	    backgroundColor: 'rgba(255, 99, 132, .2)',
	    borderColor: 'rgba(255, 99, 132, 1)',
	    fill: true,
	    borderWidth: 2
  },
  {
      yAxisID: 'B',
			label : "B",
      data: [],
      backgroundColor: 'rgba(75, 192, 192, 1)',
      borderColor: 'rgba(75, 192, 192, 1)',
      fill: false,
      borderWidth: 2,
      pointStyle: 'rect',
  },
  {
      yAxisID: 'B',
			label : "C",
      data: [],
      backgroundColor: 'rgba(22, 24, 184, 1)',
      borderColor: 'rgba(22, 24, 184, 1)',
      pointStyle: 'crossRot',
      radius : 10,
      borderWidth : 3,
      type: 'bubble',
  }]

  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [],
          datasets: dataSet
      },
			options: {
			    scaleShowValues: true,
			    scales: {
			       xAxes: [{
			          bounds: 'ticks',
			          type: 'time',
			          time: {
			             unit: 'month',
			             autoSkip: false,
			             stepSize: 1,
			             displayFormats: {
			                month: 'MMM YYYY'
			             }
			          },
			          scaleLabel: {
			            display: true,
			            labelString: 'Month'
			          },
			       }],
			       yAxes: [{
			               id: 'A',
			               type: 'linear',
			               position: 'left',
			               display: true,
			               ticks: {
			                 min: 0
			               },
			               scaleLabel: {
			                 display: true,
			                 labelString: 'Size (cm^2)'
			               }
			             },
									 {
 		 			               id: 'B',
 		 			               type: 'linear',
 		 			               position: 'right',
 		 			               display: true,
 		 			               ticks: {
 		 			                 min: 0
 		 			               },
 		 			               scaleLabel: {
 		 			                 display: true,
 		 			                 labelString: 'salary ($)'
 		 			               }
 		 			          }]
			      }
			    }
  });

  function clearChart(){
    dataSet[0].data = []
    dataSet[1].data = []
    dataSet[2].data = []
    myChart.data.labels = []
    myChart.data.datasets = dataSet
    myChart.update()
  }

	function createChart(){
		var dataA = [ { x: "2018-03-01 18:00:01", y: "230" },
									{ x: "2018-04-01 19:00:00", y: "232" },
									{ x: "2018-05-15 20:00:00", y: "236" },
									{ x: "2018-06-01 03:00:00", y: "228" }];

		var dataB = [ { x: "2018-05-01 18:00:01", y: "1230" },
									{ x: "2018-08-01 19:00:00", y: "1232" },
									{ x: "2018-10-15 20:00:00", y: "1236" },
									{ x: "2018-11-01 03:00:00", y: "1228" }];

		var dataC = [ { x: "2018-08-01 19:00:00", y: "1232" },
									{ x: "2018-11-01 03:00:00", y: "1228" }];

		// parse labels and data
		var labels = []
		for (var i = 1; i <= 9; i++) {
		     var label = moment("2018-01-01", "YYYY-MM-DD").add(i, 'month').format('YYYY-MM-DD HH:mm:ss');
		     labels.push(label);
		}

		for (var i = 0; i < dataA.length; i++){
		  dataA[i].x = moment(dataA[i].x, "YYYY-MM-DD HH:mm:ss")
		}
		for (var i = 0; i < dataB.length; i++){
			dataB[i].x = moment(dataB[i].x, "YYYY-MM-DD HH:mm:ss")
		}
		for (var i = 0; i < dataC.length; i++){
			dataC[i].x = moment(dataC[i].x, "YYYY-MM-DD HH:mm:ss")
		}

		myChart.data.labels = labels
		myChart.data.datasets[0].data = dataA
		myChart.data.datasets[1].data = dataB
		myChart.data.datasets[2].data = dataC
		myChart.update()
	}

	createChart()
</script>
