<% include ../partials/header %>
  <div>
    <p>hummus.js is a back end library for manipulate PDF, inlucding merge, modify and parse.</p>
    <p>Refer to <a href="https://github.com/galkahana/HummusJS">https://github.com/galkahana/HummusJS</a></p>
  </div>

  <div>
    <object id="displayPDF" type="application/pdf" width=100% height="600px" data="/web/hummus/pdf"></object>
  </div>
<% include ../partials/footer %>
