<% include ../partials/header %>

<style>
.card .card-header a{
	font-size: 24px;
}
.active{
	color:#FF5733;
}
</style>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <a class="mb-0 active">Reset Password</a>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formResetPassword" novalidate="" method="POST">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="email" id="email" required>
                                    <div class="invalid-feedback">Oops, you missed this email.</div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnResetPassword">Send Reset Email</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
		$("#btnResetPassword").click(function(event) {
				//Fetch form to apply custom Bootstrap validation
				var form = $("#formResetPassword")
				if (form[0].checkValidity() === false) {
					event.preventDefault()
					event.stopPropagation()
				}
				form.addClass('was-validated');
		});
</script>
<% include ../partials/footer %>
